---
title: CONTACT - YOSUKE OHTAKE
---

<div id="main-image"></div>
<div class="l-container">
  <div class="subpage">
    <div class="subpage-sidebar">
      <h2 class="subpage-title">
        <a href="contact.html">CONTACT</a>
      </h2>
    </div>
    <div class="subpage-main">
      <div class="subpage-sentence">
        <div class="sentence-japanese">
          <p class="subpage-description">広告、雑誌、書籍、プロジェクトの撮影など承ります。作品の使用や掲載、取材のご依頼もこちらからご連絡ください。</p>
        </div>
        <div class="sentence-english">
          <p class="subpage-description">Please feel free to inquire. Photograph portrait, fashion, lifestyle, editorial, advertising, travel, documentary</p>
        </div>
      </div>
      <form class="contact-form" action="index.html" method="post">
        <h3 class="contact-title">E-MAIL</h3>
        <input type="text" name="name" value="" placeholder="example@email.com">

        <h3 class="contact-title">MESSAGE</h3>
        <textarea name="name" placeholder="message" rows="4"></textarea>
        <span class="input-btn"><input type="submit" value="SEND"></span>
      </form>

    </div>
  </div>
</div>
