---
title: YOSUKE OHTAKE
---

<div id="main-image"></div>
<div class="l-container">
  <div class="toppage-inner">
    <h2 class="primary-title">WORKS</h2>
    <div class="l-row">
      <ul class="toppage-list">
        <% data.images.friends.each do |f| %>
        <li>
          <img src="/images/<%= f %>" alt=""></li>
        <% end %>
      </ul>
      <p class="read-more"><a href="#">MORE PHOTOS</a></p>
    </div>
  </div>
</div>



<script type="text/javascript">
//読み込み時の表示
window_load();

//ウィンドウサイズ変更時に更新
window.onresize = window_load;

//サイズの表示
function window_load() {
	var sW,sH;
	sW = window.innerWidth;
	sH = window.innerHeight;
  document.getElementById("main-image").style.width = sW - 15 + "px";
  document.getElementById("main-image").style.height = sH + "px";
}
</script>
