---
title: PROFILE - YOSUKE OHTAKE
---

<div id="main-image"></div>
<div class="l-container">
  <div class="subpage">
    <div class="subpage-sidebar">
      <h2 class="subpage-title">
        <a href="profile.html">PROFILE</a>
      </h2>
    </div>
    <div class="subpage-main">
      <div class="subpage-sentence">
        <div class="sentence-japanese">
          <h3 class="profile-title">オオタケ ヨウスケ</h3>
          <p class="profile-position">写真家</p>
          <p class="subpage-description">1977年、兵庫県淡路島生まれ。大阪在住。2012年9月、35歳でデザイナーからフリーのフォトグラファーに転身。2012年12月、写真集『Haru and Mina』を台湾で出版。『KINFOLK』（アメリカ）、『FRAME』（オランダ）や『THE BIG ISSUE TAIWAN』（台湾）などの海外雑誌ほか、国内でも雑誌、広告など幅広く活動中。2014年10月写真集「ハルとミナ」（Libro Arte刊）を出版。「瀬戸内国際芸術祭 小豆島 醤の郷＋坂手港プロジェクト」公式フォトグラファー。</p>
        </div>
        <div class="sentence-english">
          <h3 class="profile-title">YOSUKE OHTAKE</h3>
          <p class="profile-position">photographer</p>
          <p class="subpage-description">Born in 1977, Aawaji Island, Hyogo, Japan. Lives in Osaka. After having some solo exhibitions in Asia and Europe, he published first photo book “Haru and Mina” in Taiwan, 2012. His works have been published in KINFOLK magazine, FRAME magazine, THE BIG ISSUE TAIWAN and more. Published photo book “Haru and Mina” Japanese edition in Octorber, 2014. Official Photographer of Setouchi Triennale 2013 Shodoshima Hishio-no-sato+Sakate Port PROJECT.</p>
        </div>
      </div>
    </div>
  </div>
</div>
